.authorizations {
    margin-top: 100px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #455f7c !important;
    border-width: 2px;
}

.main .container {
    background-color: #fff;
    padding: 15px 30px;
}

.submitBtn {
    background-color: #005eaa !important;
    border-color: #005eaa !important;
    box-shadow: 0 8px 6px -6px #ccc !important;
    border-radius: 5px !important;
    /* margin-left: 30px; */
    min-width: 50px;
}

.MuiIcon-root {
    font-size: 20px !important;
    padding-top: 3px;
}