@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules//react-notifications-component/dist/theme.css";

.App {
  min-height: 100vh;
  position: relative;
}

.main {
  /* background: url('assets/images/bg_companies.jpg') center -96px no-repeat; */
  background-size: 100% 460px;
  padding-top: 4px;
  padding-bottom: 90px;
}

#root {
  min-height: 100vh;
  position: relative;
}

.main .container {
  margin-top: 40px;
  padding-top: 15px;
  border-radius: 6px;
  box-shadow: 0 8px 6px -6px #ccc;
  min-height: 500px;
}

.react-notification-root{
  position: unset !important;
}