.accordionCards{
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd !important;
}

.fhirConfiguration,
.transportConfiguration,
.appConfiguration{
    border-bottom: 1px solid #dddddd;
}

.clientCol{
    text-align: right;
}

.switchBtn{
    margin-top: 10px;
}
